.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/
.env
mlruns/
models/
artifacts/
*.pkl
*.joblib
data/raw/*.csv
data/raw/*.zip
data/processed/*.parquet
data/processed/*.pkl
reports/figures/
